# This is Git's per-user configuration file.
[user]
  email = emmett.pair@postie.com
  name = Emmett Pair
[init]
  defaultBranch = main
[pull]
  rebase = false
[fetch]
  prune = true
[push]
  default = upstream
[commit]
	gpgsign = true
[core]
  editor = nvim
	excludesFile = ~/.config/git/gitignore
[alias]
  co = checkout
	clone-for-worktrees = "!sh $HOME/bin/git-clone-bare-for-worktrees.sh"
